header {
    margin: 20px 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 10px 30px;
}

img {
    object-fit: cover;
    height: auto;
}

.loading-toast {
    width: 15%;
    position: fixed;
    bottom: 20px;
    right: 42.5%;
    z-index: 2;
    opacity: 0.8;
}